newMovie.mp4 filter=lfs diff=lfs merge=lfs -text
ITDeck.mp4 filter=lfs diff=lfs merge=lfs -text
Lincoln100.mp4 filter=lfs diff=lfs merge=lfs -text
Lincoln200.mp4 filter=lfs diff=lfs merge=lfs -text
Lincoln300.mp4 filter=lfs diff=lfs merge=lfs -text
Main.mp4 filter=lfs diff=lfs merge=lfs -text
Oakmont.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
