body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.removeScroll {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 17px;
}

.newHeight {
  height: 8em !important;
  object-fit: cover;
}
.widthModify {
  max-width: 17em !important;
  min-width: 12em !important;
  min-height: 12em !important;
  max-height: 27em

}
.widthModify2 {
  max-width: 26em !important;
  min-width: 12em !important;
  min-height: 90% !important;
  max-height: 95% !important;
  overflow-y: scroll;
}

.widthModify2ForFloor {
  min-width: 20em !important;
  max-height: 30em !important;
}
.widthModify3 {
  min-width: 30em !important;

}
.minWidthC {
  max-width: 20em !important;
}

.widthModify4 {
  min-width: 60vw;
  min-height: 95%;
  max-width: 40vw;
}
.removeShadow {
  box-shadow: none !important;
}

.newFont {
  font-size: 20px
}
.biggerFont {
  font-size : 28px
}

.newPad {
margin-top: -7.1em !important;
}

.newMar {
  margin-left: 0
}

.whiteBackgroundRed{
  background-color: #dd0031;
  color: #f5f5f5;
}

.redBackWhite{
  color: #dd0031;
  background-color: rgba(246, 246, 246, 0.3);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.45);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: -1px 4px 11px 0px rgba(0,0,0,0.43);

}

.floor{
  background-color: rgba(246, 246, 246, 0.3);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.45);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: -1px 4px 11px 0px rgba(0,0,0,0.43);

}

.floorW{
 width: 90vw !important;
}


.point{
cursor: pointer;
}

.backgroundColorforMain {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.backGround {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.borderChange {
  height: 3em;
  color: white !important;
  border-radius: 30px!important;

}

.textColor {
  color: #dd0031;
}


.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}


.content {
  position: relative;
  z-index: 1000;
}

.rowMinWidth {
  max-width: 7em;
}

.fullHeight {
  height: 90vh;
}


input, textarea {

  background-color :transparent !important;

}

.over {
  max-height: 35em !important;
}
.content {
  width: 100vw !important;
  height: 100vh !important;
}

.title {
  width: 60%;
  border-radius: 20px;
  font-weight: bolder;

}
.negative {
  margin-bottom: -16px;
}

.floorPlanMargin {
  margin-left: 5em;
}

.listShadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.45)
}

.floorBtn:hover {
  background-color: #dd0031;
  color: #f5f5f5;
}

@media screen and (max-width: 2000px) {
  .mapContainer {
    margin-left: -10em;
  }
}

@media screen and (max-width: 1080px) {
  .mapContainer {
    margin-left: -15em;
  }
}

@media screen and (max-width: 768px) {
  .mapContainer {
    margin-left: -20em;
  }
}

